<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../models/gameDetails.css">
  <link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet">
  <title>Game details page</title>
</head>
<body>
  <div class="container">
    <div class="header">
  <h1></h1>
  <img  id="game-image">
  </div>
  <section>
    <h2>List game details</h2>
    <div id="template">
      <p id="description"></p>
      <span id="genre"></span>
      <span id="publisher"></span>
      <span id="release-date"></span>
    </div>
    <div id="list-games"></div>
  </section>

  <script src="../models/Game.js"></script>
  <script src="../models/gameDetails.js"></script>
  <script src="../viewmodel/game.js"></script>
</body>
</html>
